@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap');


:root {
  --ws31yellow: #e3e399;
  --ws31red: #B90001;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--ws31yellow);
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    margin: 0;
    height: 2000px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    align-items: center;
    border-bottom: 0.1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--ws31yellow);
    z-index: 2;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__container img {
    width: 20px;
    margin: 0 10px;
}

.logo__container p {
    font-weight: 100;
}

header i {
    margin-right: 10px;
}

.mobile__nav__list {
    display: none;
    position: absolute;
    top: 45px;
    right: 5px;
}

.mobile__nav__list > ul {
    list-style-type: none;
    padding: 0;
}
.mobile__nav__list > ul > li{
    margin: 6px;
    text-align: right;
}
.mobile__nav__list > ul > li > a{
    color: black;
    text-decoration: none;
    color: #B90001;
}

.big__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big__logo img {
    width: 200px;
    margin: 150px auto;
}
.big__logo a {
    color: var(--ws31yellow);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    background-color: #B90001;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
#prick1 {
    width: 230px;
    height: 230px;
    background-color: #DAC685;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: -50px;
}
#prick2 {
    width: 250px;
    height: 250px;
    background-color: #DAC685;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 250px;
    left: -80px;
}
#prick3 {
    width: 230px;
    height: 230px;
    background-color: #DAC685;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    right: 10px;
    top: 500px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    color: var(--ws31red);
    font-size: 50px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 30px;
}

.about p {
    width: 80%;
    text-align: center;
    margin-bottom: 37px;
    margin-top: 0;
    font-weight: 100;
    line-height: 22px;
    font-weight: 200;
}

#web31 {
    font-weight: 500;
    color: var(--ws31red);
}

#grafik {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#couple {
    width: 200px;
    border-radius: 10px 10px 100px 100px;
    z-index: 1;
}

#prickar {
    position: absolute;
    width: 290px;
    top: 0px;
    z-index: -1;
    animation: rotation 30s infinite linear;
}
#bakgrund {
    height: 150px;
    width: 100%;
    background-color: var(--ws31yellow);
    position: absolute;
    top: -5px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .case__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
  }

  #background__color {
    background-color: #DAC685;
  }

  #whatwedo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #whatwedo h1{
    color: var(--ws31red);
    font-size: 40px;
    font-weight: 400;
  }
  #whatwedo i {
    font-size: 30px;
    color: var(--ws31red);
    margin-right: 20px;
  }

  .smaller__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
  }

  .number__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  #number {
    font-size: 24px;
    background-color: #B90001;
    color: #e3e399;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
  }

  #text {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
  }

  #description {
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 200;
  }

  .margin__bottom {
    margin-bottom: 33px;
  }
